@page "/PublisherList"

<h3>Publisher List</h3>

@if (Publishers == null)
{
    <div class="spinner"></div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Publisher ID</th>
                <th scope="col">Publisher House</th>
                <th scope="col">Address</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var publisher in Publishers.Publishers)
            {
                <tr>
                    <th scope="row">@publisher.PublisherID</th>
                    <td>@publisher.PublishingHouse</td>
                    <td>@publisher.Address</td>
                    <td>
                        <a href='#'>Edit</a>  |
                        <a href='#'>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
